html {
  scroll-behavior: smooth;
}
body {
  font-family: "Poppins", sans-serif;
  font-weight: 300 !important;
}

h1 {
  font-size: 40px !important;
  text-align: center;
}

.menudrop {
  filter: drop-shadow(1px 1px 1px #5116a9);
}

ul,
li {
  margin: 0 !important;
  padding: 10px !important;
}
.toc li {
  padding: 0px !important;
}
.toc li:hover {
  font-weight: 800;
}
.post h2 {
  font-size: 30px !important;  
  margin: 5px 0;
}
 
.post h3,
.post h4 {
  font-size: 25px !important;  
  margin: 5px 0;
}
.post p {
  font-size: 18px !important;
  margin-bottom: 1rem !important;
   
}
h2 {
  font-size: 30px !important;
}
h3{
  font-size: 25px !important;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #081e4a;
  font-weight: 800 !important;
}
p{
  margin-bottom: 8px !important;
}
p,
ol li {
  line-height: 1.6 !important;
}
.post > li {
  margin-bottom: 4rem;
}

.App {
  
  
  padding: 20px;
}

.calculator-container {
  max-width: 400px;
  margin: 0 auto;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
  h1 {
    line-height: 40px;
    margin-bottom: 2rem !important;
    font-size: 35px !important;
  }
  .post h2,
  .post h3 {
    line-height: 50px;
    margin-bottom: 1rem !important;
    font-size: 40px !important;
  }

  .post p,
  .post a {
    font-size: 18px !important;
    margin-bottom: 1rem;
    
  }

  .post > li {
    font-size: 40px;
    line-height: 70px;
  }
}
[aria-current="page"] {
  color: #081e4a;
  font-weight: 900;
}
