---
import { cities } from "../data/cities";
---

{
  cities.map((city) => (
    <div class="flex flex-col justify-between items-center border rounded-lg shadow md:flex-row w-full md:max-w-2xl bg-white hover:bg-slate-300 border-gray-700">
      <img
        class="object-cover w-full rounded-t-lg h-full md:max-w-[120px] md:rounded-none md:rounded-s-lg"
        src="/assets/img/pub/venewifi.webp"
        alt="ciudades"
      />
      <div class="text-center flex justify-center items-center p-10">
        <a
          href={`/internet-en/${city.slug}/`}
          target=""
          class="text-center text-xl md:text-lg  "
        >
          Internet En {city.name}
        </a>
      </div>
    </div>
  ))
}
